<!doctype html>
<html lang="zh">
<!--- HEADER -->
<head>
    <meta charset="utf-8">
    <title>安装向导</title>
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.gif"/>
    <!---CSS Files-->
    <css rel="stylesheet" href="__PUBLIC__/css/master.css"/>
    <css rel="stylesheet" href="__PUBLIC__/css/tables.css"/>
    <!---jQuery Files-->
    <js href="__PUBLIC__/js/jquery-1.7.1.min.js"/>
    <js href="__PUBLIC__/js/jquery-ui-1.8.17.min.js"/>
    <js href="__PUBLIC__/js/styler.js"/>
    <js href="__PUBLIC__/js/jquery.tipTip.js"/>
    <js href="__PUBLIC__/js/colorpicker.js"/>
    <js href="__PUBLIC__/js/sticky.full.js"/>
    <js href="__PUBLIC__/js/global.js"></js>
    <js href="__PUBLIC__/js/flot/jquery.flot.min.js"/>
    <js href="__PUBLIC__/js/flot/jquery.flot.resize.min.js"/>
    <js href="__PUBLIC__/js/jquery.dataTables.min.js"/>
    <!---Ueditor Files-->
    <js href="__PUBLIC__/ueditor/ueditor.config.js" />
    <js href="__PUBLIC__/ueditor/ueditor.all.min.js" />
    <!---Fonts-->
    <css href='__PUBLIC__/css/css.css' rel='stylesheet' type='text/css'/>
    <css href='__PUBLIC__/css/css2.css' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="header">
    <a href="#"><img src="__PUBLIC__/img/logo.png" alt="Logo" /></a>
    <div class="styler">
        <ul class="styler-show">
            <li><div id="colorSelector-top-bar"></div></li>
            <li><div id="colorSelector-box-head"></div></li>
        </ul>
    </div>
</div>